<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<typeAliases>
		<typeAlias type="daily.admin.login.vo.AdminLoginVO" alias="adminlogin"></typeAlias>
		<typeAlias type="daily.admin.designer.vo.DesignerVO" alias="designer"></typeAlias>
		<typeAlias type="daily.admin.faq.vo.FaqVO" alias="faq"></typeAlias>
		<typeAlias type="daily.admin.style.vo.StyleVO" alias="styling"></typeAlias>
	</typeAliases>
	
	<!-- 필요시 추후 주석해제 합니다
	<environments default="development">
		<environment id="development">
			<transactionManager type="JDBC" />
			<dataSource type="POOLED">
				<property name="driver" value="${jdbc.driverClassName}" />
				<property name="url" value="${jdbc.url}" />
				<property name="username" value="${jdbc.username}" />
				<property name="password" value="${jdbc.password}" />
			</dataSource>
		</environment>
	</environments>
	<mappers>
		<mapper resource="#package/#mapper.xml" />
	</mappers> -->
</configuration>
