<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="daily.admin.reservation.dao.AdminReservationDao">
	
	<!-- 예약내역 출력 -->
	<select id="reservationList" resultType="reservation">
		SELECT a.rest_time as rest_time, b.m_gender as m_gender, a.m_id as m_id, b.m_name as m_name, b.m_phone as m_phone
		FROM reservation a inner join member b
		ON a.m_id = b.m_id
	</select>
	
	
<!--private int rest_num;			// 예약 번호
	private int des_num;			// 디자이너 번호
	private String m_id;			// 회원 ID
	private String rest_hairdate;	// 시술 일자
	private String rest_regdate;	// 예약 등록 일자
	private String rest_time;		//시술 시간
	private int rest_state;			// 예약 상태
	private String rest_payoption;	// 결제 방식
	private String rest_memo;		// 디자이너 전달사항
	private String rest_comment;	// 시술 특이사항
	
	
	private String m_gender;		//회원성별
	private String m_phone; -->


<!-- 	<select id="getAll" resultMap="YourResultSet">
		SELECT * FROM tablename1
	</select>

	<insert id="insertSomething" parameterType="#modelname">
		INSERT INTO tablename1 (columnname1, columnname2, columnname3)
		VALUES(#{value1},#{value2},#{value3})
	</insert>

	<update id="updateSomething" parameterType="#modelname">
		UPDATE tablename1
		SET
		columnname1=#{param1}
		WHERE
		columnname2 = #{param2}
	</update>

	<delete id="deleteSomething" parameterType="int">
		DELETE FROM tablename1 WHERE
		columnname1 = #{param1}
	</delete> -->

</mapper>
