<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="daily.bi.dao.AdminBiDao">

	<!-- <select id=list parameterType="bi" resultType="bi">
		SELECT
			columnname1,
			columnname2,
			columnname3
		FROM tablename1
		WHERE columnname1 = #{value}
	</select> -->


</mapper>
