<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="daily.admin.member.dao.AdminMemberDao">
	
	
	<!-- 검색조건에 따른 회원 리스트 출력용 쿼리 -->
	<sql id="searchCommon">
		SELECT m_id, m_num, m_name, m_pwd, m_gender, m_phone, m_email, m_memo, m_state, m_date
		FROM member
		<where>
			<if test="search == 'all'">
				1 = 1
			</if>
			<if test="search == 'm_name'">
				m_name LIKE '%'||#{keyword}||'%'
			</if>
			<if test="search == 'm_phone'">
				m_phone LIKE '_______'||#{keyword}||'%'
			</if>
		</where>
	</sql>
	
	
	<!-- 회원 리스트 출력하기 -->	
	<select id="memberList" resultType="member" parameterType="member">
		SELECT m_id, m_num, m_name, m_gender,m_email , m_phone , m_state, to_char(m_date,'YYYY-MM-DD') as m_date
		FROM
		( SELECT list.*, ROWNUM as RNUM
			FROM(
				<include refid="searchCommon"></include>
				<choose>
					<when test="order_by == 'm_num'">
						ORDER BY m_num
					</when>
					<when test="order_by == 'm_date'">
						ORDER BY m_date
					</when>
				</choose>
				<choose>
					<when test="order_sc == 'ASC'">
						ASC
					</when>
					<when test="order_sc == 'DESC'">
						DESC
					</when>
				</choose>
			) list
		)
		<where>
			<if test="start_row != null and start_row !=''">
				<if test="end_row != null and end_row != ''">
					RNUM BETWEEN #{start_row} AND #{end_row}
				</if>
			</if>
		</where>
	</select>
	
	<!-- 회원목록 게시물 카운트 페이징 -->
	<select id="memberListCnt" parameterType="member" resultType="int">
		SELECT NVL(count(1),0)
		FROM(
			SELECT list.*, ROWNUM AS RNUM
			FROM(
				<include refid="searchCommon"></include>
				ORDER BY m_num desc
			) list
		)
	</select>
	
	
	<!-- 회원 상세보기 -->
	 <select id="memberDetail" parameterType="reservation" resultType="member">
		SELECT m_id, m_num, m_name, m_pwd, m_gender, m_phone, m_email, m_memo, m_state, to_char(m_date,'YYYY-MM-DD') as m_date
		FROM member
		WHERE m_id = #{m_id}
	</select>
	
	
   	<!-- 회원 상태값 수정하기(비활성화/활성화 용도) -->
	<update id="memberUpdate" parameterType="member">
		UPDATE member
		SET m_state =#{m_state}
		WHERE m_num = #{m_num}
	</update>

</mapper>
