<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="daily.bi.dao.AdminBiDao">
	
	<select id="list" resultType="bi">
		SELECT
			rest_hairdate ,	sum(rest_totalprice)
		FROM
			reservation
		WHERE
			rest_state = 2 and rest_hairdate between '20/04/20' and '20/05/30'
		GROUP BY 
			rest_hairdate
		order BY
			rest_hairdate ASC
	</select>



</mapper>
