<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="daily.admin.qna.dao.AdminQnaDao">

	<select id="List" resultType="qna" parameterType="qna">
		SELECT
		qna_num, qna_title, m_id, to_char(qna_regdate,'YYYY-MM-DD') as
		qna_regdate,
		qna_content, qna_state, qna_file
		FROM(
		Select list.*, Rownum
		as RNUM
		FROM (SELECT
		*
		FROM
		qna
		ORDER BY
		qna_state ASC,qna_regdate ASC )
		list)
		<where>
			<if test="start_row != null and start_row !=''">
				<if test="end_row != null and end_row !=''">
					RNUM BETWEEN #{start_row} AND #{end_row}
				</if>
			</if>
		</where>
	</select>


	<select id="detail" parameterType="qna" resultType="qna">
		select
		qna_num, qna_title, m_id, to_char(qna_regdate,'YYYY-MM-DD') as
		qna_regdate, qna_content, qna_state, qna_file
		from qna
		where qna_num =
		#{qna_num}

	</select>

	<!-- 댓글 입력 -->
	<insert id="insertReply" parameterType="reply">
		<selectKey keyProperty="rep_num" order="BEFORE"
			resultType="int">
			select reply_seq.nextval
			from dual
		</selectKey>
		INSERT INTO reply(rep_num, qna_num, rep_name, rep_content
		<if test="rep_file != null">
			,rep_file
		</if>
		)
		VALUES(
		#{rep_num},#{qna_num},#{rep_name},#{rep_content}
		<if test="rep_file != null">
			,#{rep_file, jdbcType=VARCHAR}
		</if>
		)
	</insert>

	<update id="updateState" parameterType="reply">
		UPDATE
		QNA
		SET
		qna_state = 1
		WHERE
		qna_num =#{qna_num}
	</update>

	<update id="updateStateDel" parameterType="reply">
		UPDATE
		QNA
		SET
		qna_state
		= 0
		WHERE
		qna_num =#{qna_num}
	</update>

	<select id="selectReply" parameterType="int" resultType="reply">
		SELECT
		*
		FROM reply
		where qna_num = #{qna_num}
	</select>

	<select id="ListCnt" resultType="int">
		SELECT
		nvl(count(1),0)
		FROM(
		Select list.*, Rownum as rnum
		FROM (SELECT
		*
		FROM
		qna
		ORDER BY
		qna_state
		ASC,qna_regdate ASC )
		list)
	</select>
	<delete id="Delete" parameterType="reply">
		DELETE
		FROM reply
		WHERE qna_num
		=#{qna_num}

	</delete>
	
	<!-- 회원 상세보기 -->
	 <select id="memberDetail" parameterType="reservation" resultType="member">
		SELECT m_id, m_num, m_name, m_pwd, m_gender, m_phone, m_email, m_memo, m_state, to_char(m_date,'YYYY-MM-DD') as m_date
		FROM member
		WHERE m_id = #{m_id}
	</select>
</mapper>
