<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="daily.admin.board.dao.HairStyleDAO">

	<sql id="List">
		SELECT *
		FROM hairstyle
		<where>
			<if test="search=='hs_title'">
			<![CDATA[ hs_title LIKE '%'||#{keyword}||'%']]>
			</if>
		</where>
	</sql>


	<select id="hsList" resultType="hairstyle">
		SELECT hs_num, hs_title,
		hs_thumb, hs_img1, hs_content,
		to_char(hs_regdate,'YYYY-MM-DD') as hs_regdate
		FROM(
		SELECT list.*, ROWNUM as RNUM
		FROM (
		<include refid="List" />
		ORDER BY hs_num desc
		)List)
		<where>
			<if test="start_row != null and start_row !=''">
				<if test="end_row != null and end_row !=''">
					RNUM BETWEEN #{start_row} AND #{end_row}
				</if>
			</if>
		</where>
	</select>

	<insert id="hsInsert" parameterType="hairstyle">
		<!-- HairGoods 게시글 등록 -->
		<selectKey keyProperty="hs_num" resultType="int"
			order="BEFORE">
			SELECT
			hairstyle_seq.nextval
			FROM
			dual
		</selectKey>
		INSERT INTO
		hairstyle(
		hs_num,
		hs_title,
		hs_content,
		hs_thumb
		<if test="hs_img1!='400'">
			,hs_img1
		</if>
		)
		VALUES(
		#{hs_num},
		#{hs_title},
		#{hs_content},
		#{hs_thumb}
		<if test="hs_img1!='400'">
			,#{hs_img1}
		</if>
		)
	</insert>
	<update id="hsUpdate" parameterType="hairstyle">

		update hairstyle
		set hs_title=#{hs_title},
		hs_content=#{hs_content}
		<if test="hs_thumb != '400'">
			,hs_thumb=#{hs_thumb}
		</if>
		<if test="hs_img1 != '400'">
			,hs_img1=#{hs_img1}
		</if>
		where hs_num = #{hs_num}


	</update>
	<select id="hsDetail" resultType="hairstyle" parameterType="int">
		select *
		from hairstyle
		where hs_num = #{hs_num}
	</select>

	<delete id="hsDelete" parameterType="int">
		delete from hairstyle
		where
		hs_num = #{hs_num}
	</delete>

	<select id="hsCnt" resultType="int" parameterType="hairstyle">
		SELECT nvl(count(1),0)
		FROM(
			SELECT
				list.*, ROWNUM as RNUM
			FROM (
		<include refid="List" />
		ORDER BY hs_num desc) 
		list)

	</select>

</mapper>
