<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="daily.admin.designer.dao.DesignerDao">
	
	
	<!-- 처음 디자이너리스트 불러오기 -->
	<select id="designerList" resultType="designer">
		SELECT to_char(des_regdate,'YYYY-MM-DD')as des_regdate, des_job,
		des_name, des_phone, des_file , des_num , des_state
		FROM designer
		ORDER BY des_num 
	</select>
	
	<!-- 디자이너리스트에서 활성화/비활성화 선택시 선택한 값에 맞게 출력되는 쿼리문 -->
	<select id="designerAjaxList" resultType="designer" parameterType="int">
		SELECT to_char(des_regdate,'YYYY-MM-DD')as des_regdate, des_job,
		des_name, des_phone, des_file , des_num , des_state
		FROM designer
		WHERE des_state = #{des_state}
		ORDER BY des_num desc
	</select>
	
	<!-- 디자이너 상세보기 -->
	<select id="designerDetail" parameterType="int" resultType="designer">
		SELECT * 
		FROM designer
		where des_num = #{des_num}
	</select>
	
	
	<!-- 시술가능한 디자이너 리스트 -->
	<select id="stylingDesigner" parameterType="reservation" resultType="designer">
		SELECT *
		FROM designer a
		WHERE a.des_num not in(SELECT DISTINCT des_num
							   FROM reservation
							   WHERE rest_hairdate = #{rest_hairdate} and rest_time = #{rest_time} and rest_state = 1)  
							   and a.des_state = 1 and des_holyday != (select to_char(to_date(#{rest_hairdate},'yy-mm-dd'),'day')
                                            							 from dual)
	</select>
	
	
	<!-- 디자이너 등록하기 -->
	<insert id="insertDesigner" parameterType="designer" >
		<selectKey keyProperty="des_num" resultType="int" order="BEFORE">
			select designer_seq.nextval from dual
		</selectKey>
		INSERT INTO designer(des_num, des_name, des_job, des_phone, des_gender, des_holyday, des_file, des_memo, des_image)
		VALUES(#{des_num},#{des_name},#{des_job},#{des_phone}, #{des_gender}, #{des_holyday},#{des_file,jdbcType=VARCHAR }, #{des_memo} , #{des_image,jdbcType=VARCHAR})
	</insert>
	
	<!-- 디자이너 수정하기 -->
	<update id="updateDesigner" parameterType="designer">
		UPDATE designer
		SET des_job= #{des_job}, des_phone=#{des_phone}, des_gender=#{des_gender}, des_holyday=#{des_holyday}, des_file=#{des_file,jdbcType=VARCHAR}, des_memo=#{des_memo},des_image = #{des_image,jdbcType=VARCHAR}
		WHERE des_num = #{des_num}
	</update>
	
	
	<!-- 메소드명은 deleteDesigner이지만 실제로는 비활성화 시키는것이므로 상태값을 업데이트 시킨다 --> 
	<update id="deleteDesigner" parameterType="int">
		UPDATE designer
		SET des_state = 0
		WHERE des_num = #{des_num}
	</update>
	
	<!-- 디자이너 활성화 -->
		<update id="openDesigner" parameterType="int">
		UPDATE designer
		SET des_state = 1
		WHERE des_num = #{des_num}
	</update>
	
</mapper>
