<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="daily.client.member.dao.MemberDAO">
	<!-- 회원 가입 -->
	<insert id="join" parameterType="member">
		<!-- 회원 가입 Insert -->
		<selectKey keyProperty="m_num" resultType="int" order="BEFORE">
			SELECT MEMBER_SEQ.nextval FROM DUAL
		</selectKey>
			INSERT INTO member(m_id, m_num, m_pwd, m_name, m_gender, m_phone, m_email, m_memo)
			VALUES(#{m_id},#{m_num},#{m_pwd},#{m_name},#{m_gender},#{m_phone},#{m_email},#{m_memo})
	</insert>
	
	<!-- 아이디 중복체크 -->
	<select id="idChk" resultType="int">
		SELECT COUNT(*)
		FROM MEMBER
		WHERE m_id = #{m_id}
	</select>
	
	<!-- 로그인 -->
	<select id="login" resultType="daily.client.member.vo.MemberVO">
		SELECT *
		FROM member
		WHERE m_id = #{m_id}
		AND m_pwd = #{m_pwd}
	</select>
	
	<!-- 마이페이지 접속 -->
	<select id="mypage" resultType="daily.client.member.vo.MemberVO">
		SELECT m_pwd
		FROM member
		WHERE m_pwd = #{m_pwd}
		AND m_id = #{m_id}
	</select>
	
	<!-- 회원정보 상세보기 -->
	<select id="memberMypage" parameterType="int" resultType="member">
		SELECT m_id, m_num, m_name, m_pwd, m_gender, m_phone, m_email, m_memo, m_state, to_char(m_date,'YYYY-MM-DD') as m_date
		FROM member
		WHERE m_num = #{m_num}
	</select>
	
	<!-- 아이디 찾기 -->
	<select id="idFind" resultType="int">
		SELECT COUNT(*), m_id
		FROM MEMBER
		WHERE m_phone = #{m_phone}
	</select>
	
</mapper>
