<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="daily.client.member.dao.MemberDAO">
	<!-- 회원 가입 -->
	<insert id="join" parameterType="member">
		<!-- 회원 가입 Insert -->
		<selectKey keyProperty="m_num" resultType="int" order="BEFORE">
			SELECT MEMBER_SEQ.nextval FROM DUAL
		</selectKey>
			INSERT INTO member(m_id, m_num, m_pwd, m_name, m_gender, m_phone, m_email, m_memo)
			VALUES(#{m_id},#{m_num},#{m_pwd},#{m_name},#{m_gender},#{m_phone},#{m_email},#{m_memo})
	</insert>
	
	<!-- 회원가입 아이디 중복체크 -->
	<select id="idChk" resultType="int">
		SELECT COUNT(*)
		FROM MEMBER
		WHERE m_id = #{m_id}
	</select>
	
	<!-- 회원가입 이메일 중복체크 -->
	<select id="mailChk" resultType="int">
		SELECT COUNT(*)
		FROM MEMBER
		WHERE m_email = #{m_email}
	</select>
	
	<!-- 로그인 -->
	<select id="login" resultType="daily.client.member.vo.MemberVO">
		SELECT *
		FROM MEMBER
		WHERE m_id = #{m_id}
		AND m_state = 1
	</select>
	
	<!-- 마이페이지 본인확인 -->
	<select id="mypage" resultType="daily.client.member.vo.MemberVO">
		SELECT *
		FROM MEMBER
		WHERE m_id = #{m_id}
	</select>
	
	<!-- 마이페이지 회원정보 수정 -->
	<update id="memberUpdateDo" parameterType="member">
		UPDATE member 
		SET m_phone = #{m_phone}, m_memo = #{m_memo}
		WHERE m_num = #{m_num}
	</update>
	
	<!-- 회원 비활성화 -->
	<update id="clientUpdate" parameterType="String">
		UPDATE member
		SET m_state = 0
		WHERE m_id = #{m_id}
	</update>
	
	<!-- 예약 취소 -->
	<update id="cancleReservation" parameterType="int">
		UPDATE reservation
		SET rest_state = 0
		WHERE rest_num = #{rest_num}
	</update>
	
	<!-- 아이디 찾기 -->
	<select id="idFind" resultType="member">
		SELECT *
		FROM MEMBER
		WHERE m_email = #{m_email}
	</select>
	
</mapper>
