<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="daily.client.qna.dao.QnaDao">

	<select id="qnaList" resultType="qna" parameterType="String">
		SELECT *
		FROM qna
		WHERE m_id = #{m_id}
		ORDER BY qna_num
	</select>
	
	<insert id="insertQna" parameterType="qna">
		INSERT INTO qna(qna_num, m_id, qna_title, qna_content, qna_file)
		VALUES(qna_seq.nextval, #{m_id}, #{qna_title}, #{qna_content}, #{qna_file , jdbcType=VARCHAR})	
	</insert>
	
	<select id="qnaDetail" parameterType="qna" resultType="qna">
		SELECT *
		FROM qna
		WHERE qna_num = #{qna_num}
	</select>


	<update id="qnaUpdate" parameterType="qna">
		UPDATE qna
		SET qna_title = #{qna_title} , qna_content = #{qna_content}, qna_file = #{qna_file,jdbcType=VARCHAR}
		WHERE qna_num = #{qna_num}
	</update>

	<delete id="qnaDelete" parameterType="qna">
		DELETE
		FROM qna 
		WHERE qna_num
		= #{qna_num}
	</delete>

</mapper>
