<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="daily.client.reserve.dao.ReserveDao">
	
	<select id="selectTime" parameterType="reservation" resultType="reservation">
		SELECT *
		FROM reservation
		WHERE rest_hairdate = #{rest_hairdate} AND rest_state = 1
	</select>
	
	
	<!-- 예약등록하기 -->
	<insert id="insertReservation" parameterType="reservation">
	<selectKey keyProperty="rest_num" resultType="int" order="BEFORE">
		select reservation_seq.nextval from dual
	</selectKey>
		INSERT INTO reservation(rest_num, des_num, m_id, rest_hairdate, rest_payoption, rest_memo, rest_time, rest_totalprice)
		VALUES(#{rest_num},#{des_num},#{m_id},#{rest_hairdate},#{rest_payoption},#{rest_memo},#{rest_time}, #{rest_totalprice})
	</insert>
	
	
	<select id="myreservationList" parameterType="String" resultType="reservation"> 
		SELECT a.rest_state as rest_state,  a.rest_num as rest_num, to_char(a.rest_hairdate,'yyyy-mm-dd') as rest_hairdate, a.rest_time as rest_time, to_char(a.rest_regdate,'yyyy-mm-dd') as rest_regdate, b.des_name as des_name , a.rest_totalprice as rest_totalprice , a.rest_memo as rest_memo   
		FROM reservation a inner join designer b
		on a.des_num = b.des_num 
		WHERE m_id = #{m_id}
	</select>
	
	<!-- 예약이 있는지 확인하는 쿼리 -->
	<select id="confirmReservationCnt" parameterType="String" resultType="int">
		SELECT COUNT(*)
		FROM reservation
		WHERE m_id = #{m_id} and rest_state = 1
	</select>
	
<!-- 	<select id="getAll" resultMap="YourResultSet">
		SELECT * FROM tablename1
	</select>

	<insert id="insertSomething" parameterType="#modelname">
		INSERT INTO tablename1 (columnname1, columnname2, columnname3)
		VALUES(#{value1},#{value2},#{value3})
	</insert>

	<update id="updateSomething" parameterType="#modelname">
		UPDATE tablename1
		SET
		columnname1=#{param1}
		WHERE
		columnname2 = #{param2}
	</update>

	<delete id="deleteSomething" parameterType="int">
		DELETE FROM tablename1 WHERE
		columnname1 = #{param1}
	</delete> -->

</mapper>
